@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
    --ff: "Manrope", sans-serif;
    --dark: #121212;
    --white: #e7e7e7;
    --l-gray: #d9d9d9;
    --gray: #9d9d9d;
    --d-gray: #555;
    --basic: #202020;
    --accent: #4EA1FF;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--ff);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--gray);
    background-image: url("../img/bg.jpg");
    background-size: 50px;
    scrollbar-width: thin;
    scrollbar-color: var(--d-gray) var(--basic);

    &::-webkit-scrollbar {
        max-width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--d-gray);
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--basic);
    }

    &.lock {
        overflow: hidden;
    }
}

#root {
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 15px;
}

.page {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    position: relative;
    margin-top: -20px;
}

.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
}

.about {
    display: flex;

    &__col {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        border-radius: 8px;

        &:nth-child(1) {
            transition-delay: 200ms;
        }

        &:nth-child(2) {
            transition-delay: 400ms;
        }

        &._info {
            width: calc(66.6666666667% - 20px);
            background-color: var(--basic);
            padding: 50px;
        }

        &._photo {
            width: calc(33.3333333333% - 20px);
            min-height: 435px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        color: var(--white);
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        margin-bottom: 80px;

        &>p+p {
            margin-top: 10px;
        }

        &__btn {
            position: absolute;
            bottom: 50px;
        }
    }

}


.btn {
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    white-space: nowrap;
    color: var(--dark);
    background-color: var(--white);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--gray);
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__social {
        display: flex;
        margin-left: 20px;

        &>a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--d-gray);
            border-radius: 100%;
            height: 48px;
            width: 48px;
            background-color: transparent;
            transition: background-color 0.3s ease, border 0.3s ease;

            &:hover {
                border: 1px solid var(--accent);
                background-color: var(--accent);
            }
        }

        &>a+a {
            margin-left: 10px;
        }
    }
}

.services {
    display: flex;

    &__col {
        display: flex;
        flex-direction: column;
        width: calc(33.3333333333% - 20px);
        margin: 0 10px;
        padding: 50px;
        border-radius: 8px;
        background-color: var(--basic);

        &:nth-child(1) {
            transition-delay: 200ms;
        }

        &:nth-child(2) {
            transition-delay: 400ms;
        }

        &:nth-child(3) {
            transition-delay: 600ms;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--d-gray);
        margin-bottom: 10px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: var(--l-gray);
        margin-bottom: 20px;
    }
}

.skills {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 50px;
    border-radius: 8px;
    background-color: var(--basic);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &>li {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: var(--l-gray);
            list-style: none;
            padding: 8px 12px;
            border: 1px solid var(--d-gray);
            border-radius: 8px;
        }
    }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    width: 100%;

    &__box {
        display: flex;
        flex-direction: column;
        width: calc(50% - 20px);
        margin: 10px 10px;
        border-radius: 8px;
        overflow: hidden;
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        text-decoration: none;

        &:hover .portfolio__btn {
            background-color: var(--d-gray);
        }

        &:hover .info {
            opacity: 1;
        }

        &:hover .portfolio__img {
            background-position: bottom center;
        }
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        background-color: var(--basic);
        border-bottom-left-radius: 100%;
        transition: background-color 0.3s ease;
    }

    &__img {
        padding-top: 60%;
        background-size: cover;
        background-repeat: none;
        background-position: top center;
        transition: all 3s ease;
    }
}

.info {
    position: absolute;
    padding: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, rgba(32, 32, 32, 0.838542) 52.08%, #202020 100%);
    opacity: 0;
    transition: opacity 0.3s ease;

    &__title {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: var(--white);
    }

    &>p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: var(--gray);
    }
}

.icon {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;

    &[data-icon=btn-arrow] {
        background-image: url("../img/icons/arrow.svg");
        position: absolute;
        top: 40%;
        right: 40%;
        transform: translateY(-50%);
        transform: translate(50%, -50%);
    }
}

.error {
    display: flex;
    height: 100vh;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        &.logo {
            margin-bottom: 100px;
        }
    }

    &__text {
        margin-bottom: 20px;
    }
}

.card {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -150px;
        left: -150px;
        height: 300px;
        width: 300px;
        z-index: -1;
        background-color: var(--accent);
        border-radius: 100%;
        opacity: 0;
        filter: blur(180px);
        transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
        transform: translate(var(--mouse-x), var(--mouse-y));
    }

    &:hover::before {
        opacity: 0.2;
    }
}

.hidden {
    filter: blur(5px);
    opacity: 0;
    transition: all 0.5s;
}

.show {
    will-change: filter, opacity;
    filter: blur(0);
    opacity: 1;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 1023px) {
    .portfolio__btn {
        height: 46px;
        width: 46px;
    }
}

@media screen and (max-width: 919px) {

    .about {
        flex-direction: column-reverse;

        &__col {
            &:nth-child(1) {
                transition-delay: 400ms;
            }

            &:nth-child(2) {
                transition-delay: 200ms;
            }

            &._info {
                width: calc(100% - 20px);
            }

            &._photo {
                width: calc(100% - 20px);
                padding-top: 50%;
                margin-bottom: 20px;
                min-height: 50vh;
            }
        }
    }

    .services {
        flex-direction: column;

        &__col {
            width: calc(100% - 20px);
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .portfolio {
        &__box {
            width: calc(100% - 20px);
        }

        __btn {
            height: 86px;
            width: 86px;
        }
    }
}

@media screen and (max-width: 779px) {
    .portfolio__btn {
        height: 76px;
        width: 76px;
    }
}

@media screen and (max-width: 679px) {
    .portfolio__btn {
        height: 66px;
        width: 66px;
    }

}

@media screen and (max-width: 519px) {
    .about__item {
        margin-bottom: 150px;
    }

    .btn {
        &__box {
            flex-direction: column;
            margin-left: 0;
        }

        &__social {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    .portfolio__btn {
        height: 46px;
        width: 46px;
    }
}

@media screen and (max-width: 319px) {
    .portfolio__btn {
        height: 26px;
        width: 26px;
    }
}